<div class="main">
      {% for word in paginator_words.object_list %}

        <div class="card">
          <div class="dialog">💬</div>
          <img src="{{ word.image_url }}">


          <div class="fon">
              <div class="fon" style="background-image: url('{{ word.image.photo.url }}');">
            <div class="text"><h2>{{ word.term }}</h2></div>
            <div class="text"><h2>[{{ word.transcription }}]</h2></div>
            <div class="text"><h2>{{ word.definition }}</h2></div>
                  </div>
          </div>

          <div class="pagination">
            {% if paginator_words.has_next %}
              <a href="?page={{ paginator_words.next_page_number }}">
                <form method="get" action="lesson:study">
                  <input type="hidden" name="word"  value=0/>
                  <button>не знаю</button>
                </form>
              </a>

              <a href="?page={{ paginator_words.next_page_number }}">
                <form method="get" action="lesson:study">
                  <input type="hidden" name="word"  value=1 />
                  <button>знаю</button>
                </form>
              </a>
            {% else %}
                <form method="get" action="lesson:study">
                  <input type="hidden" name="last" value=0/>
                  <button>не знаю</button>
                </form>

                <form method="get" action="lesson:study">
                  <input type="hidden" name="last" value=1 />
                  <button>знаю</button>
                </form>


            {% endif %}
          </div>

          <div class="listen-container">
          <button class="listen" onclick="playAudio()">Слушать</button>
          <audio id="myAudio" src="{{ word.audi }}"></audio>
          </div>


        </div>
        <div class="pagination">
          {% if paginator_words.has_previous %}
            <a href="?page={{ paginator_words.previous_page_number }}"><button>Назад</button></a>
          {% endif %}

          {% if paginator_words.has_next %}
            <a href="?page={{ paginator_words.next_page_number }}"><button>Вперед</button></a>
          {% endif %}
      </div>
      {% endfor %}
    </div>
