<div class="main">
      {% for word in paginator_words.object_list %}

        <div class="card">
          <div class="dialog">💬</div>
          <img src="{{ word.image_url }}">


          <div class="fon">
              <div class="fon" style="background-image: url('{{ word.image.photo.url }}');">
            <div class="text"><h2>{{ word.term }}</h2></div>
            <div class="text"><h2>[{{ word.transcription }}]</h2></div>
            <div class="text"><h2>{{ word.definition }}</h2></div>
                  </div>
          </div>

          <div class="pagination">
            {% if paginator_words.has_next %}
              <form method="post" action="{% url 'lesson:study' lesson.pk %}">
                {% csrf_token %}
                <input type="hidden" name="word_id" value="{{ word.id }}">
                <input type="hidden" name="knowledge" value="known">
                <input type="submit" value="Знаю">
              </form>

              <form method="post" action="{% url 'lesson:study' lesson.pk %}">
                {% csrf_token %}
                <input type="hidden" name="word_id" value="{{ word.id }}">
                <input type="hidden" name="knowledge" value="unknown">
                <input type="submit" value="Не знаю">
              </form>
            {% else %}
              <form method="post" action="{% url 'lesson:study' lesson.pk %}">
                {% csrf_token %}
                <input type="hidden" name="word_id" value="{{ word.id }}">
                <input type="hidden" name="knowledge" value="known">
                <input type="hidden" name="last" value="yes">
                <input type="submit" value="Знаю последнее">
              </form>

              <form method="post" action="{% url 'lesson:study' lesson.pk %}">
                {% csrf_token %}
                <input type="hidden" name="word_id" value="{{ word.id }}">
                <input type="hidden" name="knowledge" value="unknown">
                <input type="hidden" name="last" value="last">
                <input type="submit" value="Не знаю последнее">
              </form>
            {% endif %}
          </div>

          <div class="listen-container">
            <button class="listen" onclick="playAudio()">Слушать</button>
            <audio id="myAudio" src="{{ word.audi }}"></audio>
          </div>


        </div>
        <div class="pagination">
          {% if paginator_words.has_previous %}
            <a href="?page={{ paginator_words.previous_page_number }}"><button>Назад</button></a>
          {% endif %}

          {% if paginator_words.has_next %}
            <a href="?page={{ paginator_words.next_page_number }}"><button>Вперед</button></a>
          {% endif %}
      </div>
      {% endfor %}
    </div>


